* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100px;
	margin: 0 50px;
	padding: 0 50px;
	box-sizing: border-box;

	.left-area, .mid-area, .right-area {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid black;
		margin: 0 10px;
		height: 100%;
		h1 {
			color: red;
		}
	}
}