* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #146C94;

    .form-login {
        width: 450px;
        background-color: #ffffff;
        border: 1px solid  #F6F1F1;
        border-radius: 10px;
        margin: 0 auto;
        padding: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


        .form-title {
            text-align: center;
            margin-bottom: 30px;

            h2 {
                color: #146C94;
                margin-bottom: 0;
            }
        }

        .login-content {
            display: flex;
            flex-direction: column;
            align-items: center;


            .messagetext {
                width: 100%;

                p {
                    margin: 10px 0;
                    color: #666;
                    font-size: 14px;
                    text-align: center;
                }

                p {
                    margin: 10px 0;
                    color: #666;
                    font-size: 12px;
                }

                .manual-login-btn {
                    background-color: #ffffff;
                    color: white;
                    border: none;
                    padding: 10px 20px;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 14px;

                    &:hover {
                        background-color: #218838;
                    }
                }

                span {
                    font-weight: bold;
                }
            }

            .g_id_signin {
                margin: 20px 0;
            }
        }
    }
}