
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;

    .content, .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        table,#add-btn{
            justify-content: center;
            border-collapse: collapse;
            width: 100%;
            max-width: 50%;

            th, td{
                border: 1px solid black;
            }
            th{
                background-color: #f2f2f2;
                font-size: 15px;
                font-weight: 600;
            }
            td{
                padding: 10px;
            }
        }
    }

}