* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 20px 50px 30px;

    h1{
        font-weight: 600;
        text-align: center;
    }
}